@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;700&family=Lilita+One&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Belanosima";
    /* border: 1px solid; */
}
html,
body,
.main {
    height: 100%;
}
.header {
    height: 100px;
    background-color: #14213d;
    padding: 15px;
    text-align: center;
}
.title {
    color: #e5e5e5;
    margin-top: 15px;
    font-size: 38px;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.game-board {
    display: none;
    grid-template-columns: repeat(3, 150px);
    grid-auto-rows: 150px;
    justify-content: center;
    gap: 15px;
    /* background-color: rgb(182, 178, 178); */
}
.game-board > div {
    background-color: #e5e5e5;
    font-size: 50px;
    font-weight: 600;
    display: grid;
    align-items: center;
    justify-content: center;
}
.buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.buttons input,
label,
button {
    font-size: 20px;
    font: 100%;
}

input {
    padding: 4px 4px;
    color: rgb(45, 44, 44);
}

button {
    padding: 8px 18px;
    background-color: #fca311;
    border: none;
    font-weight: 500;
}
.restart {
    display: none;
}

.result {
    display: none;
    position: absolute;
    height: 300px;
    width: 100%;
    top: 40%;
    background-color: #e5e5e5;
}
